@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
:root{
    --color-light-blue: #1fdfeb;
    --color-pink:#eb3872;
    --color-yellow : #ffd08d;
    --color-black:#171b1b;
    --color-light-black:#252525;
    --padding-box:4em 1.5em 4em 1.5em;
    font-size: 16px;
    --title:'Poppins', sans-serif;
    --paragraph:'Poppins', sans-serif;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: var(--paragraph);
}

::-webkit-scrollbar{
  
  width: 20px;
  height:  5px;
}

::-webkit-scrollbar-thumb{
  background: var(--color-yellow);
  border-radius: 10px;
  transition: background ease-in-out .5s;
  
}

::-webkit-scrollbar-thumb:hover{
  background: var(--color-pink)

}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background: var(--color-black);
    padding: 1em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}

nav img {
    font-family: var(--title);
    color:var(--color-pink);
    font-size: 1em;
    font-weight: bold;
    width: 8em;
    height: auto;
    
}

nav ul{
  display:flex;
}

nav ul li{
  color:white;
  margin-right:2em;
  padding: .5em;
}

nav ul li:last-child{
  border: 1px solid white;
  border-radius: 5px;
  
}
nav ul li a{
  color:white;
  
}

h1{
    font-family: var(--title);
    font-style: 2em;
}
.iconmenu-burger{
    position: relative;
}
.McButton{

    position: relative;
    width: 50px;
    height: 25px;
    display: none;
    visibility: hidden;
    
    
}
.McButton b{
  position: absolute;
  left: 0;
  width: 44px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease-in;
  animation: 1s ;
  
}
.McButton b:nth-child(1) {
    top: 0;
}
.McButton b:nth-child(2) {
    top: 50%;
}
.McButton b:nth-child(3) {
    top: 100%;
}

.McButton b:nth-child(1).active {
    animation: 0.3s forwards menu-positivo;
    animation-delay: 0.3s;
    top: 50%;
  }
.McButton b:nth-child(2).active,
.McButton b:nth-child(3).active {
    top: 50%;
    animation: 0.3s forwards menu-negativo;
    animation-delay: 0.3s;
  }
.container{
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
main{
    background: white;
    padding: var(--padding-box);
    text-align: center;
    color:var(--color-black);
    
}

main .image-main{
    width: 50%;
    height: auto;
    min-height: 10em;
    margin-bottom: .5em;
   text-align: right;
}
main .image-main img {
    width: 100%;
    height: auto;
    min-height: 10em;
    margin-bottom: .5em;
}

main h1 {
    font-weight: bold;
    font-size: 4em;
    margin-bottom: .5em;
    color:var(--color-pink);
    text-align: left;
    
}

main h1 span{
  
  background: white;
 
   
}

main p {
    font-family: var(--paragraph);
    font-weight: 100;
    margin-bottom: 2em;
    
}

main .icon-arrow{
    border: 2px solid var(--color-yellow);
    border-radius: 50%;
    padding: 1em;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: .3s all;
    animation: 1s pulso infinite;
    
    
}

.icon-arrow img {
    width: 2em;
    height: 2.5em;
    padding: .5em;
    transition: .3s all ease;
    animation: 1s pulso infinite;
    
}

/*---------------------------

Animations

----------------------------*/

@keyframes menu-positivo {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(135deg);
    }
  }
  @keyframes menu-negativo {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(-135deg);
    }
  }

  @keyframes pulso{
      from{
        transform: scale(1);
      }
      50%{
        transform: scale(1.3);
      }
      to{
        transform: scale(1);
      }
  }
  /*-----------------------
  SECTION PUR FEATURES
  -----------------------*/

  .ourfeatures,.ourproducts,.ourprocess{
      padding: var(--padding-box);
      text-align: center;
     
  }
  .ourfeatures{
 
    background: var(--color-yellow);
   
}
  .ourfeatures__subtitle,.ourproducts__subtitle,.ourprocess__subtitle{
    font-weight:lighter ;
    text-transform: uppercase;
    font-size: 1.2em;

}
  .ourfeatures__title,.ourproducts__title, .ourprocess__title,.contact_title{
    font-weight: 700;
    font-size: 3em;
    font-family: var(--title);
    margin-bottom: 2em;
  }
  .ourfeature__container,.ourproducts__container, .ourprocess__container{
      
      display: grid;
      grid-auto-flow: columns;
      grid-template-columns: repeat(auto-fill,minmax(15em,20em));
      gap: 4em;
      align-items: center;
      justify-content: center;
  }
  .ourfeature,.ourproces{
    background-color: white;
    color: var(--color-light-black);
    padding: 1.5em;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
    transition:.5s ease all;
  }
  .ourfeature:hover,.ourproces:hover{
      transform: scale(1.1);
      
  }

  .ourfeature figure, .ourproces figure{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2em;
      position: relative;
  }

  .ourfeature__icon{
    width: 80px;
    height: 80px;
  }

  .ourfeature__background{
      width: 10em;
      height: 10em;
      margin-right: -1.5em;
      margin-top: -1.5em;
      margin-bottom: -2em;
      border-radius: 50%;
      position: absolute;
      right: -30px;
      
      
  }

  .ourfeature h3{

    color: var(--color-black);
    font-size: 2em;
    margin-bottom:.5em ;

  }
  .ourfeature p{

    color: var(--color-light-black);
    font-size: 1em;
    margin-bottom:1.5em;

  }

  /*----------------------------

  Responsive - movil 

  ----------------------------*/

  @media (max-width: 426px){
    main .container{
      display: flex;
      flex-direction: column-reverse;
      
    }
    main h1{
      font-size: 2.3em;
    }
    main .image-main{
      width: 100%;
      
    }

    .ourproducts__container .product:first-child{
      margin-left: 0;
    }

    .McButton{
      display: block;
      visibility: visible;
    }

    .menu{
      display: block;
      position: absolute;
      right: 0;
      top: 63px;
      background:var(--color-pink);
      border-radius: 5px;
      padding: 1em;
      margin-right: 1.2em;
      animation: 1s ease-in-out all
    }
    .menu li a{
      
      color:white;
    }

    .menu li:last-child{
      
      border-color:white;
    }

    .menu.inactive{
      display: none;
  
    }

    .ourfeatures__title,.ourproducts__title, .ourprocess__title,.contact_title{
      font-size: 2.3em;
    }
  }

  
/*----------------------------

  ourproducts

  ----------------------------*/
  .ourproducts{
 
    background:white;
   
}
.ourproducts-scroll{
  white-space: nowrap;
  overflow-x: scroll;
}
.ourproducts__container{
  display: -webkit-box;
}
.ourproducts__container .product{
  overflow: hidden;
  border-radius: 10px;
  background:white;
  box-shadow: 0px 0px 9px -1px rgba(117,117,117,0.55);
  
  margin-bottom: 2em;
  min-width: 17em ;
  max-width: 20em;
}

.product:first-child{
  margin-left: 4em;
}

.product img{
  width: 100%;
  min-height: 13em;
  max-height: 13em;
  
}
.texts-prices{
  display: flex;
  background:white;
  padding: 2em;
  justify-content: space-between;
}
.product-texts{
  text-align: left;
  
}

.product-texts p{
  text-transform: uppercase;
  margin-bottom: .5em;
}

.product-price{
  text-align: right;
  font-size: 2em;
  font-weight: bold;
}

/*-----------------------------
our process
-----------------------------*/
.ourprocess{
background: rgba(31, 223, 235, .5);
}
.ourprocess__container{
  grid-template-columns: repeat(auto-fill,minmax(5em,20em));
  gap: 0;
}

.ourproces{
  
  border-radius: 0;
  
}

.ourproces:first-child{
  border-radius: 10px 0 0 10px;
}

.ourproces:last-child{
  border-radius: 0 10px 10px 0;
}
.ourproces figure{
 
  margin-bottom: 7em;
}
.ourproces h3{
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: .5em;
}

#QFSagfu-1613592799970 {
    display: none;
}
.contactus__container{
  padding: var(--padding-box);
  display: grid;
  grid-auto-flow: columns;
  grid-template-columns: repeat(auto-fill, minmax(15em,35em));  
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.contactus__container figure img{
 width: 100%;
}
.texts-direction,.texts-phone{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  
}

.texts-direction:hover .icon.location,.texts-phone:hover .icon.mobile {
  animation: 1s pulso infinite
}

.texts-phone a{
  color:var(--color-black);
  
}
.icon{
  width:50px;
  height: 70px;
  margin-right: 1em;
}

footer{
  padding: var(--padding-box);
  background: var(--color-pink);
}
.footer_container{
  display: grid;
  grid-auto-flow: columns;
  grid-template-columns: repeat(auto-fill,minmax(15em,23em)); 
  text-align: center;
  color: white;
  justify-content: center;
  margin-bottom: 2em;
  
}

.footer_container h4{
  font-size: 1.5em;
  margin-bottom: 1.5em;

}
.footer_container p{
  
  margin-bottom: .5em;

}
footer .logo{
  width: 18em;
  margin: 0 auto;
}

.socialicon img{
width: 40px;
height: 40px;
}
.socialicon img:first-child{
  margin-right: .5em;
}
.socialicon img:hover{
  animation: 1s pulso infinite
}



.line{
  width: 5%;
  border-bottom: 3px solid white ;
  display: flex;
  margin: 0 auto;

}

.developed{
 display: flex;
 justify-content: center;
 color: rgba(244, 139, 172,1);
 margin-top: 1em;
 transition: 1s all
}

.developed:hover{

  color: white;
 
 }