@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
:root{
    --color-light-blue: #1fdfeb;
    --color-pink:#eb3872;
    --color-yellow : #ffd08d;
    --color-black:#171b1b;
    --color-light-black:#252525;
    --padding-box:4em 1.5em 4em 1.5em;
    font-size: 16px;
    --title:'Poppins', sans-serif;
    --paragraph:'Poppins', sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: var(--paragraph);
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background: var(--color-black);
    padding: 1em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}

nav img {
    font-family: var(--title);
    color:var(--color-pink);
    font-size: 1em;
    font-weight: bold;
    width: 3em;
    height: auto;
}

h1{
    font-family: var(--title);
    font-style: 2em;
}
.iconmenu-burger{
    position: relative;
}
.McButton{

    position: relative;
    width: 50px;
    height: 25px;
    
    
}
.McButton b{
  position: absolute;
  left: 0;
  width: 44px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease-in;
  
}
.McButton b:nth-child(1) {
    top: 0;
}
.McButton b:nth-child(2) {
    top: 50%;
}
.McButton b:nth-child(3) {
    top: 100%;
}

.McButton b:nth-child(1).active {
    animation: 0.3s forwards menu-positivo;
    animation-delay: 0.3s;
    top: 50%;
  }
.McButton b:nth-child(2).active,
.McButton b:nth-child(3).active {
    top: 50%;
    animation: 0.3s forwards menu-negativo;
    animation-delay: 0.3s;
  }
.container{
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
main{
    background: white;
    padding: var(--padding-box);
    text-align: center;
    color:var(--color-black);
    
}

main .image-main{
    width: 50%;
    height: auto;
    min-height: 10em;
    margin-bottom: .5em;
   text-align: right;
}
main .image-main img {
    width: 100%;
    height: auto;
    min-height: 10em;
    margin-bottom: .5em;
}

main h1 {
    
    font-weight: bold;
    font-size: 4.5em;
    margin-bottom: .5em;
    color:var(--color-pink);
    text-align: left;
    
}

main p {
    font-family: var(--paragraph);
    font-weight: 100;
    margin-bottom: 2em;
    
}

main .icon-arrow{
    border: 2px solid var(--color-yellow);
    border-radius: 50%;
    padding: 1em;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: .3s all;
    animation: 1s pulso infinite;
    
    
}

.icon-arrow img {
    width: 2em;
    height: 2.5em;
    padding: .5em;
    transition: .3s all ease;
    animation: 1s pulso infinite;
    
}

/*---------------------------

Animations

----------------------------*/

@keyframes menu-positivo {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(135deg);
    }
  }
  @keyframes menu-negativo {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(-135deg);
    }
  }

  @keyframes pulso{
      from{
        transform: scale(1);
      }
      50%{
        transform: scale(1.3);
      }
      to{
        transform: scale(1);
      }
  }
  /*-----------------------
  SECTION PUR FEATURES
  -----------------------*/

  .ourfeatures,.ourproducts{
      padding: var(--padding-box);
      text-align: center;
     
  }
  .ourfeatures{
 
    background: var(--color-yellow);
   
}
  .ourfeatures__subtitle,.ourproducts__subtitle{
    font-weight:lighter ;
    text-transform: uppercase;
    font-size: 1.2em;

}
  .ourfeatures__title,.ourproducts__title{
    font-weight: 700;
    font-size: 3em;
    font-family: var(--title);
    margin-bottom: 2em;
  }
  .ourfeature__container{
      
      display: grid;
      grid-auto-flow: columns;
      grid-template-columns: repeat(auto-fill,minmax(15em,20em));
      gap: 4em;
      align-items: center;
      justify-content: center;
  }
  .ourfeature{
    background-color: white;
    color: var(--color-light-black);
    padding: 1.5em;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
    transition:.5s ease all;
  }
  .ourfeature:hover{
      transform: scale(1.1);
      
  }

  .ourfeature figure{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2em;
      position: relative;
  }

  .ourfeature__icon{
    width: 80px;
    height: 80px;
  }

  .ourfeature__background{
      width: 10em;
      height: 10em;
      margin-right: -1.5em;
      margin-top: -1.5em;
      margin-bottom: -2em;
      border-radius: 50%;
      position: absolute;
      right: -30px;
      
      
  }

  .ourfeature h3{

    color: var(--color-black);
    font-size: 2em;
    margin-bottom:.5em ;

  }
  .ourfeature p{

    color: var(--color-light-black);
    font-size: 1em;
    margin-bottom:1.5em;

  }

  /*----------------------------

  Responsive - movil 

  ----------------------------*/

  @media (max-width: 426px){
    main .container{
      display: flex;
      flex-direction: column-reverse;
      
    }
    main h1{
      font-size: 3em;
    }
    main .image-main{
      width: 100%;
      
    }
    main .image-main img{
      
      
    }
  }
/*----------------------------

  ourproducts

  ----------------------------*/
  .ourproducts{
 
    background:white;
   
}
.ourproducts-scroll{
  white-space: nowrap;
  overflow-x: scroll;
}
.ourproducts__container{
  display: -webkit-box;
}
.ourproducts__container .product{
  overflow: hidden;
  border-radius: 10px;
  background:white;
  box-shadow: 0px 0px 9px -1px rgba(117,117,117,0.55);
  margin-right: 4em;
  margin-bottom: 2em;
  min-width: 17em ;
  max-width: 20em;
}

.product:first-child{
  margin-left: 4em;
}

.product img{
  width: 100%;
}
.texts-prices{
  display: flex;
  background:white;
  padding: 2em;
  justify-content: space-between;
}
.product-texts{
  text-align: left;
  
}

.product-texts p{
  text-transform: uppercase;
  margin-bottom: .5em;
}

.product-price{
  text-align: right;
  font-size: 2em;
  font-weight: bold;
}